<div class="bg-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0">
				<a href="/">Trang chu</a> <span class="mx-2 mb-0">/</span>
				<strong class="text-black">Thanh toan</strong>
			</div>
		</div>
	</div>
</div>

<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<h2 class="h3 mb-3 text-black">Chi tiet hoa don</h2>
				<div class="p-3 p-lg-5 border">
					<div class="form-group">
						<label for="c_country" class="text-black">Quoc gia <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="country" name="country">
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<label for="fullname" class="text-black">Ho va Ten <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="fullname" name="fullname">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
							<label for="BOD" class="text-black">Ngay sinh </label>
							<input type="text" class="form-control" id="BOD" name="BOD">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
							<label for="c_address" class="text-black">Dia chi <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_address" name="c_address" placeholder="Ten duong">
						</div>

					</div>
					<div class="form-group row">
						<div class="col-md-12">
						<input type="text" class="form-control" id="c_address" name="c_address" placeholder="Can, phong, ... (neu co)">
						</div>
					</div>


					<div class="form-group row mb-5">
						<div class="col-md-6">
							<label for="c_email_address" class="text-black">Email <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_email_address" name="c_email_address">
						</div>
						<div class="col-md-6">
							<label for="c_phone" class="text-black">SDT <span class="text-danger">*</span></label>
							<input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
						</div>
					</div>

					<div class="form-group">
						<label for="c_order_notes" class="text-black">Ghi chu</label>
						<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
								  placeholder="Ghi chu..."></textarea>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black">Don hang cua ban</h2>
						<div class="p-3 p-lg-5 border">
							<table class="table site-block-order-table mb-5">
								<thead>
								<th>San pham</th>
								<th>Tong tien</th>
								</thead>
								<tbody>
								<tr>
									<td>Bioderma <strong class="mx-2">x</strong> 1</td>
									<td>$55.00</td>
								</tr>
								<tr>
									<td>Ibuprofeen <strong class="mx-2">x</strong> 1</td>
									<td>$45.00</td>
								</tr>
								<tr>
									<td class="text-black font-weight-bold"><strong>Tong phu</strong></td>
									<td class="text-black">$350.00</td>
								</tr>
								<tr>
									<td class="text-black font-weight-bold"><strong>Tong tien</strong></td>
									<td class="text-black font-weight-bold"><strong>$350.00</strong></td>
								</tr>
								</tbody>
							</table>

							<div class="form-group">
								<button class="btn btn-primary btn-lg btn-block" onclick="window.location='/check-out/success'">Dat hang</button>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- </form> -->
	</div>
</div>


<div class="site-section bg-secondary bg-image" style="background-image: url('/img/bg_2.jpg');">
	<div class="container">
		<div class="row align-items-stretch">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_1.jpg');">
					<div class="banner-1-inner align-self-center">
						<p>Dam bao vaccine luon on dinh su dung tot, khong de lai di chung
						</p>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_2.jpg');">
					<div class="banner-1-inner ml-auto  align-self-center">
						<h2>Chuyen Gia</h2>
						<p>Cac Vaccine cua chung toi luon dam bao an toan va duoc phe chuan boi cac chuyen gia hang dau Viet Nam
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>