<section class="profile" style="color:#000;">
	<div class="container">
		<div class="page-content page-container" id="page-content" >
			<div class="padding">
				<div class="row container d-flex justify-content-center" >
					<div class="col-xl-10 col-md-10">
						<div id="cardSchedule" class="card w-90" style=" border: 2px solid #e6e6e6; border-radius: 20px; box-shadow: 10px 10px 5px lightblue; ">
  							<div class="card-body">
								<ul id="nav" class="row mx-0" style="height: 100px; rounded;">
									<li class="col-sm-2 p-0" id="img-container">
										<img src="/img/vaccine2.png" width="100" height="100" class="img-radius mb-10" alt="Vaccine-Image" id="imageSchedules">
									<li/>
									<li>
										<h3 class="schedule-title">COVID-19 Pfizer</h3>
										<p class="schedule-date">03/05/2022</p>
									</li>
									<li id="schedule-notificaion">
										<button type="button" class="btn btn-warning" style=" border-radius: 50px;">Chờ duyệt</button>
									</li>
								<ul/>	
  							</div>
						
							<div class="card-body">
								<ul id="nav" class="row mx-0" style="height: 100px; rounded;">
									<li class="col-sm-2 p-0" id="img-container">
										<img src="/img/vaccine2.png" width="100" height="100" class="img-radius mb-10" alt="Vaccine-Image" id="imageSchedules">
									<li/>
									<li>
										<h3 class="schedule-title">COVID-19 Pfizer</h3>
										<p class="schedule-date">13/02/2022</p>
									</li>
									<li id="schedule-notificaion">
										<button type="button" class="btn btn-success" style=" border-radius: 50px;">Hoàn thành</button>
									</li>
								<ul/>	
  							</div>

							<div class="card-body">
								<ul id="nav" class="row mx-0" style="height: 100px; rounded;">
									<li class="col-sm-2 p-0" id="img-container">
										<img src="/img/vaccine2.png" width="100" height="100" class="img-radius mb-10" alt="Vaccine-Image" id="imageSchedules">
									<li/>
									<li>
										<h3 class="schedule-title">COVID-19 Pfizer</h3>
										<p class="schedule-date">13/02/2022</p>
									</li>
									<li id="schedule-notificaion">
										<button type="button" class="btn btn-danger" style=" border-radius: 50px;">ĐÃ BỊ HỦY</button>
									</li>
								<ul/>	
  							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/js/userAjax.js"></script>