<div class="site-blocks-cover inner-page" style="background-image: url('/img/hero_1.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto align-self-center">
				<div class=" text-center">
					<h1>Gioi Thieu</h1>
					<p>He thong tiem chung An Binh la he thong phuc vu nhu cau tiem chung o ca nguoi lon lan tre em</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<div class="block-16">
					<figure>
						<img src="/img/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">

					</figure>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">


				<div class="site-section-heading pt-3 mb-4">
					<h2 class="text-black">Khoi dau</h2>
				</div>
				<p>He thong tiem chung An Binh chinh thuc di vao hoat dong tu thang 6 nam 2017,
					He thong tiem chung An Binh chinh thuc di vao hoat dong tu thang 6 nam 2017,
					He thong tiem chung An Binh chinh thuc di vao hoat dong tu thang 6 nam 2017,
					He thong tiem chung An Binh chinh thuc di vao hoat dong tu thang 6 nam 2017</p>
			</div>
		</div>
	</div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6 order-md-2">
				<div class="block-16">
					<figure>
						<img src="/img/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
					</figure>
				</div>
			</div>
			<div class="col-md-5 mr-auto">


				<div class="site-section-heading pt-3 mb-4">
					<h2 class="text-black">Muc tieu</h2>
				</div>
				<p class="text-black">Phuc vu nhu cau tiem chung cua moi nguoi, Phuc vu nhu cau tiem chung cua moi nguoi,
					Phuc vu nhu cau tiem chung cua moi nguoi,Phuc vu nhu cau tiem chung cua moi nguoi,
					Phuc vu nhu cau tiem chung cua moi nguoi,Phuc vu nhu cau tiem chung cua moi nguoi,
					Phuc vu nhu cau tiem chung cua moi nguoi,Phuc vu nhu cau tiem chung cua moi nguoi</p>

			</div>
		</div>
	</div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
				<div class="icon mr-4 align-self-start">
					<span class="icon-truck text-primary"></span>
				</div>
				<div class="text">
					<h2>Giao hang mien phi</h2>
					<p>Khi mua hang chung toi co ho tro giao hang mien phi tan noi cho khach hang o khu vuc Ho Chi Minh va Ha Noi</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
				<div class="icon mr-4 align-self-start">
					<span class="icon-refresh2 text-primary"></span>
				</div>
				<div class="text">
					<h2>Hoan tra mien phi</h2>
					<p>Neu co bat ki sai sot nao ve Vaccine, chung toi cam ket se hoan tra cung nhu mien phi san pham.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
				<div class="icon mr-4 align-self-start">
					<span class="icon-help text-primary"></span>
				</div>
				<div class="text">
					<h2>Ho tro khach hang</h2>
					<p>Se luon co nhan vien thuong truc de giai dap cac thach mac cua ban</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="site-section bg-light custom-border-bottom" data-aos="fade">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 site-section-heading text-center pt-4">
				<h2>Nhom N05</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-6 mb-5">

				<div class="block-38 text-center">
					<div class="block-38-img">
						<div class="block-38-header">
							<img src="/img/person_1.jpg" alt="Image placeholder" class="mb-4">
							<h3 class="block-38-heading h4">Tuan Pham</h3>
							<p class="block-38-subheading" style="color: red"><strong>LEADER</strong></p>
						</div>
						<div class="block-38-body">
							<p>Dan dat team, phan chia cong viec hop ly cho cac thanh vien </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 mb-5">
				<div class="block-38 text-center">
					<div class="block-38-img">
						<div class="block-38-header">
							<img src="/img/person_2.jpg" alt="Image placeholder" class="mb-4">
							<h3 class="block-38-heading h4">Anh Ngo</h3>
							<p class="block-38-subheading">MEMBER</p>
						</div>
						<div class="block-38-body">
							<p>Tim kiem tai lieu ho tro viec thuc hien du an nay cua nhom</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 mb-5">
				<div class="block-38 text-center">
					<div class="block-38-img">
						<div class="block-38-header">
							<img src="/img/person_3.jpg" alt="Image placeholder" class="mb-4">
							<h3 class="block-38-heading h4">Duy Nguyen</h3>
							<p class="block-38-subheading">MEMBER</p>
						</div>
						<div class="block-38-body">
							<p>Huong dan cac thanh vien trong nhom su dung so do UML</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 mb-5">
				<div class="block-38 text-center">
					<div class="block-38-img">
						<div class="block-38-header">
							<img src="/img/person_4.jpg" alt="Image placeholder" class="mb-4">
							<h3 class="block-38-heading h4">Khoa Phung</h3>
							<p class="block-38-subheading">MEMBER</p>
						</div>
						<div class="block-38-body">
							<p>Thuc hien website theo chi thi cua leader de tao ra san pham</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>