<!-- Sing in  Form -->
<section class="sign-in">
	<div class="container">
		<div class="signin-content" style="display: flex">
			<div class="signin-image">
				<figure><img src="/img/signin-image.jpg" alt="sing up image"></figure>
				<a href="/auth/register" class="signup-image-link">Tao tai khoan</a>
			</div>

			<div class="signin-form">
				<h2 class="form-title">Dang Nhap</h2>
				<form action="/auth/login" method="POST" class="register-form">
					<div class="form-group">
						<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
						<input type="text" name="username" placeholder="Ten dang nhap"/>
					</div>
					<div class="form-group">
						<label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
						<input type="password" name="password" placeholder="mat khau"/>
					</div>
					{{#if message}}
						{{#if state}}
							<p style="color: green;">{{message}}</p>
						{{else}}
							<p style="color: red;">{{message}}</p>
						{{/if}}
					{{/if}}
					<div class="form-group form-button">
						<input type="submit" class="form-submit" value="Dang Nhap"/>
					</div>
				</form>
				<div class="social-login">
					<a href="#" class="signup-image-link"> Quen mat khau</a>
				</div>
			</div>
		</div>
	</div>
</section>