<!-- Sign up form -->
<section class="signup">
	<div class="container">
		<div class="signup-content" style="display: flex">
			<div class="signup-form">
				<h2 class="form-title">Dang ky</h2>
				<form method="POST" class="register-form" id="register-form">
					<div class="form-group">
						<label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
						<input type="text" name="Username" placeholder="Ten dang nhap"/>
					</div>
					<div class="form-group">
						<label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
						<input type="text" name="HoTen" placeholder="Ho va Ten"/>
					</div>
					<div class="form-group">
						<label for="pass"><i class="zmdi zmdi-lock"></i></label>
						<input type="password" name="Password" placeholder="Mat khau"/>
					</div>
					{{#if message}}
						{{#if state}}
							<p style="color: green;">{{message}}</p>
						{{else}}
							<p style="color: red;">{{message}}</p>
						{{/if}}
					{{/if}}
					<div class="form-group form-button">
						<input type="submit" value="Dang Ky" class="form-submit"/>
					</div>
				</form>
			</div>
			<div class="signup-image">
				<figure><img src="/img/signup-image.jpg" alt="sing up image"></figure>
				<a href="/auth/login" class="signup-image-link">Da co tai khoan</a>
			</div>
		</div>
	</div>
</section>
